{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Diary</title>

    <link rel="stylesheet" href="{% static 'notes/style.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="glass-background"></div>

    <div class="page-container page-content fade-enter-active">
        {% block content %}
        {% endblock %}
    </div>



    <footer class="footer-container">
        <div class="footer-content glass-panel">
            <p>Developed by <span class="author-name">Hariom Kumar Shah</span></p>
        </div>
    </footer>

    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>